<div id="<%= dom_id stock %>">
  <p>
    <strong>Stock name:</strong>
    <%= stock.stock_name %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= stock.stock_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= stock.status %>
  </p>


</div>
