
<div class="jumbotron">
  <h1 class="display-4"><%= render @stock %></h1>

    <div>
      <%= link_to "Edit ", edit_stock_path(@stock) ,class:"btn btn-dark"%>
      <%= link_to "Back ", stocks_path, class:"btn btn-dark" %>
<%= button_to "Delete", @stock, method: :delete ,class:"btn btn-dark" %>
    </div>
  </p>
</div>
