<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>login</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div class="site-logo">
      <img src="logo.png" alt=logo width="300px">
    </div>

    <form action="/signup" method="post" name="login">
        <fieldset>



<label for="username">  username

</label><br>
<input type="text" id="username" placeholder="username">
<br>
<label for="password"> password

</label><br>
<input type="password" placeholder="password" id="password"><br>

 <label for="gender"> <input type="checkbox" name="remember" >
stay signed in
 </label><br>
 <a href="index.html"/>
<input type="button" name="signup" value="signup">
</a><br>
<a href="home5.html"/>
<input type="button" type="submit" value="login"/>
</a>
</fieldset>
    </form>

<script src="login.js"></script>


  </body>
</html>
