<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div class="site-logo">
      <img src="logo3.png" alt=logo width="300px">
    </div>
    <form action="/signup" method="post"name="signup">
        <fieldset>
          <div>
<label for="firstname">  firstname
  <input type=" text" id="  firstname"placeholder="firstname">
</label>
<span id ="name-error"></span>
<br>
<label for="surname">  surname
  <input type="text"  id=" surname" placeholder="surname">

</label>
<span id ="name-error"></span>
<br>
<label for="username">  username
<input type="text" id="username" placeholder="username">
</label>
<span id ="username-error"></span>
<br>
<label for="password">  password
  <input type="password" placeholder="password" id="password">
</label>
<span id="password-error"></span><br>
<label for="email">  email
  <input type="email" id="email" placeholder="email">
</label>
<span id="email-error"></span>
<br>
<label for="phone">number
  <input type="tel" id="phone" name="phone"placeholder="phone number">
 </label>
<span id="phone-error"></span>
 <br>
 <label for="gender"> enter your gender
<label for="Male">   <input type="radio" name="gender" value="Male" id="Male"> Male</label>
  <label for="Female" ><input type="radio" name="gender" value="Female" id="Female">Female</label>
  <label for="other"> <input type="radio" name="gender" value="other"id="other">other</label>
<span id="gender-error"></span>
 </label><br>
 <a href="login.html">
<input type="button" name="login" value="login">
</a><br>
<input  type="submit" value="done"/>
<span id="done-error"></span>
</div>
</fieldset>
    </form>

<script src="index.js"></script>
  </body>
</html>
